<div class="d-flex justify-content-between">
  <p>Taffrail is the leading provider of personalized digital advice for the financial brokerage industry.</p>
  <img src="/img/Taffrail_LifeRing_Waves_Digital+Blue@2x.png" width="90" class="">
</div>

<p>
  <a href="https://github.com/taffrail/showcase" target="_blank" class="text-reset text-decoration-none"><i class="fab fa-github"></i> GitHub</a>
  <a href="mailto:navigator@taffrail.com" class="ps-2 text-reset text-decoration-none"><i class="fal fa-envelope-open"></i> Email us</a>
</p>
