<div class="adviceset-user-questions"></div>

<script id="tmpl_advicesetUserQuestions" type="text/x-handlebars-template">
  <p class="text-sm"><i class="fal fa-user-headset"></i> In a <mark class="active">chat bot</mark> or <mark class="active">call center</mark> context, this Advice Set can answer the following questions.</p>
  <div class="advice-group aiurs">
    <ul class="list-group list-group-flush">
      {{#each adviceset.aiUserRequests}}
      <li class="list-group-item list-group-item-action">
        {{request}}
      </li>
      {{/each}}
    </ul>
  </div>
</script>
