<script id="tmpl_loadingLong" type="text/x-handlebars-template">
  <div id="{{ajaxId}}">

    <p class="lead">{{adviceset.entity.description}}</p>
    
    <p class="text-muted spinner"><img src="/img/Spinner-1s-200px.svg" width="40"> Preparing advice preview...</p>
    
    <div class="d-flex mt-5">
      <div class="flex-shrink-0">
        <img src="/img/Taffrail_LifeRing_Waves_Digital+Blue@2x.png" width="90" class="">
      </div>
      <div class="flex-grow-1 ms-3">
        <div class=" slideDown" style="display: none;">
          <h5>{{naut.word}}</h5>
          <p>{{{naut.description}}} <span class="text-muted fs-xs" data-api-timer></span></p>
        </div>
      </div>
    </div>

  </div>

</script>
