<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/_head"); %>
  </head>

  <body class="launch">

    <header class="banner">
      test
    </header>

    <div class="advice-set-details"></div>

    <%- include("partials/hbs/adviceSetDetails"); %>

    <div id="__init" data-page-init="launch"></div>
    <%- include("partials/_footer_js"); %>

  </body>
</html>
